<ion-header translucent>
  <ion-toolbar>
    <ion-title>Informations</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="events" text="Retour"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" *ngIf="currentEvent">
  <ion-row>
    <ion-col class="content-col">
      <ion-thumbnail class="user-image">
        <img [src]="currentEvent.image">
      </ion-thumbnail>
      <ion-text color="dark">
        <h2 class="user-name">{{currentEvent.titre}}</h2>
      </ion-text>

      <ion-list>
        <ion-item>
          <ion-label position="stacked">Date de début</ion-label>
          <ion-input color="primary" readonly="true">{{currentEvent.dateDebut | date: "fullDate"}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Date de fin</ion-label>
          <ion-input color="primary" readonly="true">{{currentEvent.dateFin | date:"fullDate"}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Prix</ion-label>
          <ion-input color="primary" readonly="true">{{currentEvent.prix |currency:"EUR"}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-input color="primary" readonly="true">{{currentEvent.description}}</ion-input>
        </ion-item>

        <ion-button [disabled]="disableButton"  (click)="inscription()" expand="block" [color]="colorButton" >S'inscrire</ion-button>

      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
