<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Revenir à la connexion'"></ion-back-button>
    </ion-buttons>
    <ion-title>Liste des évenements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
      <ion-card *ngFor="let event of itemsScrolled" size="12"  (click)="saveEventSession(event)" [routerLink]="['/events', event.idEvenement]">
        <img [src]="event.image">
        <div class="myOverlay">
          <div class="card-title">{{event.titre}}&nbsp;&nbsp;-&nbsp;&nbsp;{{event.prix | currency:"EUR"}}</div>
          <div class="card-subtitle">Le {{event.dateDebut | date: "fullDate"}}</div>
       </div>
      </ion-card>
 
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText="Chargement..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
 </ion-content>