<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Revenir à la connexion'"></ion-back-button>
    </ion-buttons>
    <ion-title>Mon compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size-xs="12">

          <div class="logo">
            <img src="./assets/multi.png" width="96px" />
          </div>

          <ion-button
            expand="block"
            class="ion-margin-start ion-margin-end ion-margin-bottom"
            (click)="logout()"
          >
            Déconnexion
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list-header>
    <ion-title>Mes inscriptions</ion-title>
  </ion-list-header>

  <div class="meetings-example">
    <app-custom-checkbox class="meeting-wrapper">
      <ion-card *ngFor="let item of listEventInscri" class="meeting-card" [style.--card-color]="'42, 68, 148'">
        <ion-card-content class="meeting-card-content">
          <ion-row>
            <ion-col>
              <p class="meeting-title">{{item.titre}}</p>
              <p class="meeting-hours">Prix : {{item.prix}}</p>
              <p class="meeting-hours">du {{item.dateDebut | date : "mediumDate"}} au {{item.dateFin | date : "mediumDate"}}</p>
              <div class="followers-list">
                <div class="follower-image-container">
                  <ion-icon size="large" class="follower-image add-overlay" name="logo-capacitor"></ion-icon>
                </div>
                <div class="follower-image-container">
                  <ion-icon size="large" class="follower-image add-overlay" name="logo-docker"></ion-icon>
                </div>
                <div class="follower-image-container">
                  <ion-icon size="large" class="follower-image add-overlay" name="logo-javascript"></ion-icon>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <ion-button color="danger" (click)="deleteInscri(item)">
                <ion-icon size="large" name="close-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </app-custom-checkbox>
  </div>
</ion-content>


