<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size-xs="12">

          <div class="logo">
            <img src="./assets/multi.png" width="96px" />
          </div>

          <ion-button
            expand="block"
            class="ion-margin-start ion-margin-end ion-margin-bottom"
            (click)="logout()"
          >
            Déconnexion
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list-header>
    <ion-label>Mes évenement</ion-label>
  </ion-list-header>

  <div class="meetings-example">
    <app-custom-checkbox class="meeting-wrapper">
      <ion-card class="meeting-card" [style.--card-color]="'42, 68, 148'">
        <ion-card-content class="meeting-card-content">
          <ion-row>
            <ion-col>
              <p class="meeting-title">Product Planning</p>
              <p class="meeting-hours">10:00 am - 11:00 am</p>
              <div class="followers-list">
                <div class="follower-image-container">
                  <img class="follower-image add-overlay" src="https://randomuser.me/api/portraits/women/44.jpg">
                </div>
                <div class="follower-image-container">
                  <img class="follower-image add-overlay" src="https://randomuser.me/api/portraits/men/12.jpg">
                </div>
                <div class="follower-image-container">
                  <img class="follower-image add-overlay" src="https://randomuser.me/api/portraits/women/49.jpg">
                </div>
              </div>
            </ion-col>
            <ion-col size="2" class="checkbox-col">
              <ion-checkbox class="attending-checkbox" checked></ion-checkbox>
              <p class="confirm-text">Confirm</p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </app-custom-checkbox>
    <app-custom-checkbox class="meeting-wrapper">
      <ion-card class="meeting-card" [style.--card-color]="'42, 68, 148'">
        <ion-card-content class="meeting-card-content">
          <ion-row>
            <ion-col>
              <p class="meeting-title">PWA Session</p>
              <p class="meeting-hours">11:30 am - 12:00 am</p>
              <div class="followers-list">
                <div class="follower-image-container">
                  <img class="follower-image add-overlay" src="https://randomuser.me/api/portraits/women/44.jpg">
                </div>
                <div class="follower-image-container">
                  <img class="follower-image add-overlay" src="https://randomuser.me/api/portraits/men/12.jpg">
                </div>
                <div class="follower-image-container">
                  <img class="follower-image add-overlay" src="https://randomuser.me/api/portraits/women/49.jpg">
                </div>
              </div>
            </ion-col>
            <ion-col size="2" class="checkbox-col">
              <ion-checkbox class="attending-checkbox"></ion-checkbox>
              <p class="confirm-text">Confirm</p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </app-custom-checkbox>
  </div>
</ion-content>


